$font-family: 'Playfair Display', serif;

// Headings
@mixin heading-1 {
    font-size: 121.5;
    font-weight: bolder;
}

@mixin heading-2 {
    font-size: 81.5;
    font-weight: ;
}

@mixin heading-3 {
    font-size: 54;
    font-weight: ;
}

@mixin heading-4 {
    font-size: 36;
    font-weight: ;
}

@mixin heading-5 {
    font-size: 20;
    font-weight: ;
}

@mixin heading-6 {
    font-size: 16;
    font-weight: ;
}